<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title of the document</title>
    <link href="https://jsonplaceholder.typicode.com/todos/1" rel="stylesheet" />
</head>
<body>

    @RenderBody()

</body>
</html>